// This file must be imported before loading html5-boilerplate

$base-font-family: 'Open Sans', sans-serif;  // default font-family

$base-font-size: 13px;  // default font-size for YUI fonts

$base-line-height: 1.231;  // default line-height for YUI fonts

$font-color: #ccc;

$link-color: $font-color;

$link-hover-color: #676767;

$link-active-color: $link-hover-color;

$link-visited-color: $font-color;

$selected-font-color: #fff;  // color for selected text

$selected-background-color: #ff5E99;  // bg-color for selected text

$list-left-margin: 2em;  // left margin for ul an ol