---
title: Hair Care by Carlos Rodriguez
---

%h1 Carlos Rodriguez

%h2 Coming Soon

%h3
  Now accepting appointments at
  %a{:href=>"http://sallyhershberger.com/", :target=>"_blank"} Sally Hershberger Los Angeles

#info
  #social
    %a#twitter.icon{:href=>"http://twitter.com/#!/haircarebycr", :target=>"_blank"}>
      %img{:src=>"/images/template/twitter.gif", :alt=>"Twitter", :title=>"Follow @HairCarebyCR on Twitter"}>
    %a#facebook.icon{:href=>"http://www.facebook.com/pages/Hair-Care-by-Carlos-Rodriguez/123405914362313", :target=>"_blank"}
      %img{:src=>"/images/template/facebook.gif", :alt=>"Facebook", :title=>"Follow Carlos Rodriguez on Facebook"}>

  #contact
    %p
      310.854.4922
      %br
      %a{:href=>"mailto:carlos@haircarebycarlos.com"} carlos@haircarebycarlos.com
    %p
      760 N. La Cienega Blvd. Floor 3
      %br
      Los Angeles, CA 90069
